include zemberek/resources/*.txt
include zemberek/resources/normalization/*.txt
include zemberek/resources/normalization/*.pickle
include zemberek/resources/phonetics/*.txt
include zemberek/resources/*.csv
include zemberek/resources/*.slm
